.container{
    text-align: center;
    margin-top:20px
}

table{
    margin: auto;
}

input{
    border-radius: 19px;
    border: 5px solid #243346;
    font-size:31px;
    height: 55px;
    width: 448px;
}

button{
    border-radius: 20px;
    font-size: 40px;
    background: #ece8f0;
    width: 100px;
    height: 78px;
    margin: 6px;
    cursor: pointer;
}

.calculator{ 
    border: 4px solid #43474b;
    background-color: #0b3444;
    padding: 23px;
    border-radius: 53px;
    display: inline-block;
    
}

h1{
    font-size: 28px;
    font-family: 'Courier New', Courier, monospace;
}